=blank_line
.iscroll-pullup
  span.iscroll-pull-icon
  span.iscroll-pull-label(
    data-iscroll-pulled-text="Custom pulled text" 
    data-iscroll-loading-text="Custom loading text")Custom reset text
=blank_line