body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none; /* Shut off long touch on links for info */
  -webkit-user-select: none;   /* Shut off text selection, because it's really annoying when dragging */
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }

/* Force list items to be cached on WebKit
   See: cubiq.org/you-shall-not-flicker */
.iscroll-scroller,
.iscroll-scroller * {
  -webkit-transition-duration: 0;
  -webkit-transform: translateZ(0);
}